name: TestCafe POC Report
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run TestCafe
        continue-on-error: true
        run: |
          npx testcafe chrome:headless tests/ --reporter github-summary \
          --screenshots path=screenshots,takeOnFails=true

      - name: Finalize Summary
        if: always()
        run: |
          echo "### ✅ POC Execution Finished" >> $GITHUB_STEP_SUMMARY
          echo "Los resultados anteriores fueron generados automáticamente por TestCafe." >> $GITHUB_STEP_SUMMARY

      - name: Upload Screenshots on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-failure
          path: screenshots/